<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.mybatis.myMapper">
	<select id="loginck" resultType="memberdto">
		select * from memberList where m_id = #{m_id}
	</select>
	<select id="findId" resultType="memberdto">
		select * from memberList where m_name = #{m_name} and m_email = #{m_email}
	</select>
	<select id="findPw" resultType="memberdto">
		select * from memberList where m_id = #{m_id} and m_name = #{m_name} and m_email = #{m_email}
	</select>
	<update id="findPw_change" parameterType="memberdto">
		update memberList set m_pw = #{m_pw} where m_id = #{m_id} and m_name = #{m_name} and m_email = #{m_email}
	</update>
</mapper>