<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="memberDTO" type="com.KG.dto.MemberDTO" />
		<typeAlias alias="boardDTO" type="com.KG.dto.BoardDTO" />
		<typeAlias alias="commentDTO" type="com.KG.dto.CommentDTO"/>
		<typeAlias alias="customerDTO" type="com.KG.dto.CustomerDTO"/>
	</typeAliases>
</configuration>